{% extends "bootstrap_base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

<main class="container my-4">


    <h2 class="text-center mb-4">{{ post.name }}</h2>

    <div class="row g-3">


        <div class="col-md-4 d-flex flex-column gap-3">


            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <p class="mb-6 mt-3">
                        <strong>By</strong>
                        {{ post.author.username }}
                    </p>

                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-body">

                    <p class="mb-2 me-8">
                        <strong>Published on:</strong>
                        {{ post.date.date() }}
                    </p>
                    
                </div>
            </div>

        </div>


        <div class="col-md-8 d-flex flex-column gap-3">

            <div class="card shadow-sm">
                <div class="card-body">
                
                    <p class="mb-0">{{ post.description }}</p>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-body">
                        <div class="col-md-6 mb-3">
                            <h6 class="fw-bold">Tags</h6>
                            <ul>
                                {% for tag in post.tags %}
                                    <li>{{ tag.name }}</li>
                                {% else %}
                                    <li class="text-muted">None specified</li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-body">
                        <div class="col-md-6 mb-3">
                            <h6 class="fw-bold">Comments</h6>
                            <ul>
                                {% for comment in post.comments %}
                                    {% if comment.author_id %}
                                        <h5>From:{{ comment.author.username }}</h1>
                                        <p>{{ comment.created_at }}</p>
                                        <p>{{ comment.statement }}</p>
                                        <form method="POST" action="{{ url_for('main.toggle_comment_like', comment_id=comment.id) }}">
                                            <button
                                                type="submit"
                                                class="btn {{ 'btn-secondary' if comment.liked_by_current_user else 'btn-add' }}">
                                                {{ 'Unlike' if comment.liked_by_current_user else 'Like this Position' }}
                                            </button>
                                        </form>

                                        <div class="mt-2">
                                            {{ comment.viewercommentlikes|length + comment.authorcommentlikes|length }} likes
                                        </div>
                                    {% elif comment.status=='approved' %}
                                        <h5>From:{{ comment.viewer.username }}</h5>
                                        <p>{{ comment.created_at.date() }}</p>
                                        <p>{{ comment.statement }}</p>
                                        <form method="POST" action="{{ url_for('main.toggle_comment_like', comment_id=comment.id) }}">
                                            <button
                                                type="submit"
                                                class="btn {{ 'btn-secondary' if comment.liked_by_current_user else 'btn-add' }}">
                                                {{ 'Unlike' if comment.liked_by_current_user else 'Like this Position' }}
                                            </button>
                                        </form>

                                        <div class="mt-2">
                                            {{ comment.viewercommentlikes|length + comment.authorcommentlikes|length }} likes
                                        </div>
                                    {% endif %}
                                    {% if comment.viewer_id and current_user.is_authenticated and current_user.role == 'viewer'
                                        and comment.viewer_id == current_user.id %}
                                        <a href="{{ url_for('main.edit_comment', comment_id=comment.id) }}" class="btn btn-add btn-sm">Edit comment</a>
                                        {% endif %}

                                        {% if comment.author_id and current_user.is_authenticated and current_user.role == 'author'
                                            and comment.author_id == current_user.id %}
                                        <a href="{{ url_for('main.edit_comment', comment_id=comment.id) }}" class="btn btn-add btn-sm">Edit comment</a>
                                        {% endif %}
                                    {% else %}
                                    <li class="text-muted">None specified</li>
                                {% endfor %}
                                {% if current_user.role=='author' %}
                                    <h4>Waiting for approval</h4>
                                    {% for comment in post.comments %}
                                        {% if comment.viewer_id and not comment.status=='approved' %}
                                            <h5>From:{{ comment.author.username }}</h5>
                                            <p>{{ comment.created_at }}</p>
                                            <p>{{ comment.statement }}</p>
                                            <a href="{{ url_for('main.approve_comment',
                                                    comment_id=comment.id) }}"
                                                class="btn btn-add btn-sm">Approve</a>
                                            <a href="{{ url_for('main.delete_comment',
                                                    comment_id=comment.id) }}"
                                                class="btn btn-add btn-sm">Delete</a>
                                        {% endif %}
                                    {% endfor %}   
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div> 

    </div>


    <div class="text-center mt-4">
        {% if current_user.is_authenticated and current_user.role == 'viewer'%}
            <form method="POST" action="{{ url_for('main.toggle_post_like', post_id=post.id) }}">
                <button
                    type="submit"
                    class="btn {{ 'btn-secondary' if post.liked_by_current_user else 'btn-add' }}">
                    {{ 'Unlike' if post.liked_by_current_user else 'Like this Position' }}
                </button>
            </form>

            <div class="mt-2">
                {{ post.postlikes|length }} likes
            </div>

            <h1 class="mb-3 mt-3"> Leave a comment </h1>

            <form action="{{ url_for('main.leave_comment', post_id=post.id) }}" method="POST">
                {{ form.hidden_tag()}}

                {{wtf.form_field(form.statement)}}

                {{wtf.form_field(form.submit)}}
            </form>
        {% elif not current_user.is_authenticated %}
            <a href="{{ url_for('auth.login') }}"
               class="btn btn-pending">Sign in to leave a commment</a>

        {% else %}
            <div class="mt-2">
                {{ post.postlikes|length }} likes
            </div>
        {% endif %}

        {% if current_user.is_authenticated and current_user.role == 'author' %}
            <h1 class="mb-3 mt-3"> Leave a comment </h1>

            <form action="{{ url_for('main.leave_comment', post_id=post.id) }}" method="POST">
                {{ form.hidden_tag()}}

                {{wtf.form_field(form.statement)}}

                {{wtf.form_field(form.submit)}}
            </form>

            <a href="{{ url_for('main.edit_post', post_id=post.id) }}"
               class="btn btn-pending">Edit Post</a>

            <a href="{{ url_for('main.delete_post', post_id=post.id) }}"
               class="btn btn-delete"
               onclick="return confirm('Are you sure you want to delete this position?');">
                Delete Post
            </a>
        {% endif %}
    </div>

</main>

{% endblock %}
